html,
body {
    padding: 0px;
    margin: 0px;

    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}

body {
    display: flex;
    flex-direction: column;
    background-color: rgb(28, 27, 27);
}

::-webkit-scrollbar {
    width: 3px;
    z-index: 99999;
}

::-webkit-scrollbar-track {
    background: #2521217b;
}

::-webkit-scrollbar-thumb {
    background: #ffffff;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.container {
    position: absolute;
    left: 15%;
    right: 150%;
}

.banner {
    background-color: rgb(80, 80, 80);
    padding: 50px 50px 50px 50px;
    text-transform: uppercase;

    width: 60rem;
}

.banner .title {
    text-align: center;
    font-size: 30px;
}

.banner-list {
    background-color: rgb(80, 80, 80);
    padding: 50px 50px 50px 50px;
    margin-top: 2rem;

    width: 60rem;
}

.banner-button {
    width: 100%;
    padding: 5px;
}

a:link {
    color: white;
}